html, body {
	width: 100%;
	height: 100%;
}

/* grid-area */
.p1 { grid-area: p1; }
.p2 { grid-area: p2; }
.p3 { grid-area: p3; }
.p4 { grid-area: p4; }
.p5 { grid-area: p5; }
.p6 { grid-area: p6; }
.p7 { grid-area: p7; }
.p8 { grid-area: p8; }
.q1 { grid-area: q1; }
.q2 { grid-area: q2; }
.q3 { grid-area: q3; }
.q4 { grid-area: q4; }
.q5 { grid-area: q5; }
.q6 { grid-area: q6; }
.q7 { grid-area: q7; }
.q8 { grid-area: q8; }
.q9 { grid-area: q9; }
.q10 { grid-area: q10; }
.q11 { grid-area: q11 }
.q12 { grid-area: q12; }
.q13 { grid-area: q13; }
.q14 { grid-area: q14; }
.q15 { grid-area: q15; }
.q16 { grid-area: q16; }
.sf1 { grid-area: sf1; }
.sf2 { grid-area: sf2; }
.sf3 { grid-area: sf3; }
.sf4 { grid-area: sf4; }
.sf5 { grid-area: sf5; }
.sf6 { grid-area: sf6; }
.sf7 { grid-area: sf7; }
.sf8 { grid-area: sf8; }
.f1 { grid-area: f1; }
.f2 { grid-area: f2; }

/* hide */
.hidden {
	visibility: hidden;
}
.none {
	display: none;
}

/* border */
.border-black {
	border: 1px solid black;
}
.border-high-left {
	border-top: 1px solid black;
	border-right: 1px solid black;
}
.border-low-left {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.border-high-right {
	border-top: 1px solid black;
	border-left: 1px solid black;
}
.border-low-right {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
.border-bottom {
	border-bottom: 1px solid black;
}

/* flex */
.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}
.flex-column-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

/* grid */
.grid {
	display: grid;
}

/* header */
.header {
	width: 100%;
	height: 24%;
	padding: 0px;
}
.header .section {
	align-items: center;
	justify-content: center;
}
.section.left, .section.right {
	width: 19%;
}
.section.left {
	justify-content: right;
}
.section.right {
	justify-content: left;
}
.section.center {
	flex-grow: 1;
}
.material-symbols-outlined.home, .material-symbols-outlined.signed-out {
	font-size: 38px;
	margin: 0px;
	margin-bottom: 100%;
}
.signed-in {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 100%;
}
.signed-in img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* main */
.main {
	height: 76%;
}
.tournament {
	width: 100%;
	height: calc(100% - 88px);
	grid-template-columns: 7.5fr 1fr 1fr 1fr 1fr 1fr 7.5fr;
	grid-template-areas: 
		'p1 q1 sf1 f1 sf5 q9 p5'
		'p1 q2 sf1 f1 sf5 q10 p5'
		'p2 q3 sf2 f1 sf6 q11 p6'
		'p2 q4 sf2 f1 sf6 q12 p6'
		'p3 q5 sf3 f2 sf7 q13 p7'
		'p3 q6 sf3 f2 sf7 q14 p7'
		'p4 q7 sf4 f2 sf8 q15 p8'
		'p4 q8 sf4 f2 sf8 q16 p8'
		;
}

/* player */
.l-player, .r-player {
	border-radius: 15px;
	background-color: white;
}
.vote {
	height: 102px;
	width: 32px;
	font-family: "Bowlby One SC", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 15px;
	color: #EA2A36;
}
.check { 
	color: black;
}
.l-player .check {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-bottom: 5px;
}
.r-player .check {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	margin-top: 5px;
}
.l-player .vote {
	border-right: 1px solid black;
}
.r-player .vote {
	border-left: 1px solid black;
}
.l-player .text {
	writing-mode: vertical-lr;
}
.r-player .text {
	writing-mode: vertical-lr;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}
.profile {
	height: 102px;
	width: 84px;
}
.profile .team-logo {
	width: 100%;
	flex-grow: 1;
}
.profile .team-name {
	width: 100%;
	flex-grow: 1;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	border-top: 0.2px solid black; 
}

/* footer */
.footer {
	position: absolute;
	left: 0;
	top: calc(100% - 88px);
	height: 88px;
	width: 100%;
}
.footer img {
	width: 83px;
	height: 42px;
}

/* modal */
.modal {
	display: flex;
}
#player-info-modal .modal-content{
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	height: 66%;
}
.section.top {
	height: 32%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.section.middle {
	height: 43%;
}
.section.bottom {
	flex-grow: 1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.section.top .section.left {
	width: 25%;
	height: 100%;
}
.section.top .section.center {
	width: 50%;
	height: 100%;
}
#player-info-modal .team-name {
	width: 100%;
	height: 25%;
	text-align: center;
	font-size: 20px;
	justify-content: end;
}
#player-info-modal .profile-img {
	width: 100%;
	height: 50%;
}
#player-info-modal #profile-img {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 100%;
}
#player-info-modal img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}
#player-info-modal .intra-id {
	width: 100%;
	height: 25%;
	font-size: 24px;
	justify-content: start;
}
.section.top .section.right {
	width: 25%;
	height: 100%;
	align-items: end;
}
.section.right .material-symbols-outlined {
	margin-top: 15px;
	margin-right: 15px;
	font-size: 30px;
}

/* section middle */
.section.middle .rank-title { 
	grid-area: rt;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.section.middle .rank { 
	grid-area: r;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.section.middle .formation-title { 
	grid-area: ft;
	border-bottom: 1px solid black;
}
.section.middle .formation { 
	grid-area: f;
	border-bottom: 1px solid black;
}
.section.middle .coach-title { 
	grid-area: cot;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.section.middle .coach { 
	grid-area: co;
	border-right: 1px solid black;
}
.section.middle .career-title {
	grid-area: cat;
	border-bottom: 1px solid black;
}
.section.middle .career { grid-area: ca;}
.section.middle {
	border-top : 1px solid black;
	grid-template-rows: 1fr 2fr 1fr 2fr;
	grid-template-areas:
	'rt ft'
	'r f'
	'cot cat'
	'co ca'
	;
}