html, body {
	background-color: rgb(105, 105, 105);
}

body {
	background-image: url('../../public/lfc-background.svg');
	background-color: rgb(105, 105, 105);
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

/* grid-area */
.p1 { grid-area: p1; }
.p2 { grid-area: p2; }
.p3 { grid-area: p3; }
.p4 { grid-area: p4; }
.p5 { grid-area: p5; }
.p6 { grid-area: p6; }
.p7 { grid-area: p7; }
.p8 { grid-area: p8; }
.q1 { grid-area: q1; }
.q2 { grid-area: q2; }
.q3 { grid-area: q3; }
.q4 { grid-area: q4; }
.q5 { grid-area: q5; }
.q6 { grid-area: q6; }
.q7 { grid-area: q7; }
.q8 { grid-area: q8; }
.q9 { grid-area: q9; }
.q10 { grid-area: q10; }
.q11 { grid-area: q11 }
.q12 { grid-area: q12; }
.q13 { grid-area: q13; }
.q14 { grid-area: q14; }
.q15 { grid-area: q15; }
.q16 { grid-area: q16; }
.sf1 { grid-area: sf1; }
.sf2 { grid-area: sf2; }
.sf3 { grid-area: sf3; }
.sf4 { grid-area: sf4; }
.sf5 { grid-area: sf5; }
.sf6 { grid-area: sf6; }
.sf7 { grid-area: sf7; }
.sf8 { grid-area: sf8; }
.f1 { grid-area: f1; }
.f2 { grid-area: f2; }

/* hide */
.hidden {
	visibility: hidden !important;
}
.none {
	display: none !important;
}

/* border */
.border-black {
	border: 1px solid black;
}
.border-high-left {
	border-top: 2px solid white;
	border-right: 2px solid white;
}
.border-low-left {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}
.border-high-right {
	border-top: 2px solid white;
	border-left: 2px solid white;
}
.border-low-right {
	border-bottom: 2px solid white;
	border-left: 2px solid white;
}
.border-bottom {
	border-bottom: 2px solid white;
}

/* flex */
.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-column-end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}
.flex-column-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.flex-row-start {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
}

/* grid */
.grid {
	display: grid;
}

/* header */
.header {
	width: 100%;
	height: 24%;
	padding: 0px;
}
.header .section {
	align-items: center;
	justify-content: center;
}
.section.left, .section.right {
	width: 25%;
	padding-bottom: 76px;
}
.section.left {
	justify-content: end;
}
.section.left img {
	width: 69px;
}
.section.center {
	padding-top: 40px;
	flex-grow: 1;
	font-family: 'Abril Fatface', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
}
#lv42 {
	font-size: 48px;
	color: white;
}
#fifa-cup {
	color: #E3D5AC;
}
.signed-out, .signed-in {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: white;
	padding-right: 3px;
}
.signed-out .material-symbols-outlined {
	font-size: 28px;
}
.signed-in {
	padding: 0px;
	overflow: hidden;
}
.signed-in img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* main */
.main {
	height: 76%;
}
.tournament {
	max-width: 390px;
	height: calc(100% - 45px);
	grid-template-columns: 5.5fr 1fr 1fr 1fr 1fr 1fr 5.5fr;
	grid-template-areas:
		'p1 q1 sf1 f1 sf5 q9 p5'
		'p1 q2 sf1 f1 sf5 q10 p5'
		'p2 q3 sf2 f1 sf6 q11 p6'
		'p2 q4 sf2 f1 sf6 q12 p6'
		'p3 q5 sf3 f2 sf7 q13 p7'
		'p3 q6 sf3 f2 sf7 q14 p7'
		'p4 q7 sf4 f2 sf8 q15 p8'
		'p4 q8 sf4 f2 sf8 q16 p8'
	;
}

/* player */
.l-player, .r-player {
	width: 116px;
	height: 102px;
	border-radius: 15px;
	background-color: #F6E8BD;
	color: black;
	max-width: 116px;
	max-height: 102px;
}
.vote {
	height: 102px;
	width: 27.5%;
	font-family: "Bowlby One SC", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 15px;
}
.check { 
	color: black;
}
.l-player .check {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-bottom: 5px;
}
.r-player .check {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	margin-top: 5px;
}
.l-player .vote {
	border-right: 1px solid black;
}
.r-player .vote {
	border-left: 1px solid black;
}
.l-player .text {
	writing-mode: vertical-lr;
}
.r-player .text {
	writing-mode: vertical-lr;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}
.profile {
	height: 100%;
	flex-grow: 1;
	justify-content: space-between;
}
.profile .team-logo {
	width: 100%;
	height: 70%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.profile .team-name {
	width: 100%;
	height: 30%;
	font-size: 3.5vw;
	border-top: 0.2px solid black; 
	padding: 7%;
}
.voted {
	border-radius: 15px;
	border: 3px solid #00C83B;
}

/* teams */
.team-mun {
	background-image: url('../../public/manchester-united.svg');
}
.team-rma {
	background-image: url('../../public/real-madrid.svg');
}
.team-mil {
	background-image: url('../../public/ac-milan.svg');
}
.team-liv {
	background-image: url('../../public/liverpool.svg');
}
.team-mci {
	background-image: url('../../public/manchester-city.svg');
}
.team-psg {
	background-image: url('../../public/psg.svg');
}
.team-atm {
	background-image: url('../../public/atletico-madrid.svg');
}
.team-int {
	background-image: url('../../public/internazionale-milano.svg');
}
.team-dor {
	background-image: url('../../public/Borussia_Dortmund-O9DpWngdg_brandlogos.net.svg');
}

/* footer */
.footer {
	position: absolute;
	left: 0;
	top: calc(100% - 55px);
	height: 55px;
	width: 100%;
	font-style:italic;
	font-weight: 500;
	font-size: 12px;
	color: #F2E3B6;
}

/* modal */
#player-info-modal .modal-content{
	font-weight: 700;
	width: 80vw;
	height: 66vh;
	background-image: url('../../public/real-logo-background.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: 2;
}
.section.top {
	height: 32%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.section.middle {
	height: 43%;
}
.section.bottom {
	flex-grow: 1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.section.top .section.left {
	width: 25%;
	height: 100%;
}
.section.top .section.center {
	width: 50%;
	height: 100%;
}
#player-info-modal .team-name {
	width: 100%;
	height: 25%;
	text-align: center;
	font-size: 20px;
	justify-content: end;
}
#player-info-modal .profile-img {
	width: 100%;
	height: 50%;
}
#player-info-modal #profile-img {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 100%;
}
#player-info-modal img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}
#player-info-modal .intra-id {
	width: 100%;
	height: 25%;
	font-size: 24px;
	justify-content: start;
}
.section.top .section.right {
	width: 25%;
	height: 100%;
	align-items: end;
}
#player-info-modal .material-symbols-outlined {
	margin-top: 15px;
	margin-right: 15px;
	font-size: 30px;
}

/* section middle */
.section.middle div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	background-color: #E9EDF1;
}
.section.middle .rank.title { 
	grid-area: rt;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.section.middle .rank { 
	grid-area: r;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.section.middle .formation.title { 
	grid-area: ft;
	border-bottom: 1px solid black;
}
.section.middle .formation { 
	grid-area: f;
	border-bottom: 1px solid black;
}
.section.middle .coach.title { 
	grid-area: cot;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.section.middle .coach { 
	grid-area: co;
	border-right: 1px solid black;
}
.section.middle .career.title {
	grid-area: cat;
	border-bottom: 1px solid black;
}
.section.middle .career { grid-area: ca;}
.section.middle {
	border-top : 1px solid black;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr 2fr;
	grid-template-areas:
	'rt ft'
	'r f'
	'cot cat'
	'co ca'
	;
}

/* section bottom */
.section.bottom .comment.title {
	grid-area: comt;
	border-top : 1px solid black;
	border-bottom: 1px solid black;
}
.section.bottom .comment {
	grid-area: com;
}
.section.bottom {
	grid-template-rows: 1fr 2fr;
	grid-template-areas: 
	'comt'
	'com'
	;
}
.section.bottom div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#vote-modal .modal-content {
	height: 20%;
}
#vote-modal .name-wrap {
	font-family: "Bowlby One SC", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 24px;
	flex-grow: 1;
}
#vote-modal .warn-wrap {
	height: 15%;
	align-items: start;
	font-size: 15px;
}
#vote-modal .material-symbols-outlined {
	font-size: 16px;
}

@media (min-width:786px) {
	.section.center img {
		width: 270px;
	}
	.profile {
		width: 120px;
	}
	.profile .team-name {
		font-size: 145%;
	}
	.header .material-symbols-outlined{
		font-size: 50px;
	}
	.signed-in {
		width: 50px;
		height: 50px;
	}
	.vote {
		font-size: 17px;
	}
	#player-info-modal .modal-content {
		width: 580px;
		font-size :23px; 
	}
	.footer img {
		width: 100px;
	}
}
@media (min-width:1024px) {
	.tournament {
		max-width: 800px;
	}
	.profile {
		width: 180px;
	}
	.vote {
		width: 40px;
		font-size: 20px;
	}
}
@media (min-width:1280px) {
	.tournament {
		max-width: 1000px;
	}
	.profile {
		width: 200px;
	}
	.profile .team-name {
		font-size: 160%;
	}
	.header .material-symbols-outlined {
		font-size : 60px;
	}
	.signed-in {
		width: 60px;
		height: 60px;
	}
}