/* main content */
#user-content {
	background-color: #ffffff;
	height: 90%;
}

/* user */
.user {
	width: 100%;
	height: 27%;
    display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
}
#user-img-section {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: end;
	margin-right: 10px;
	align-items: center;
}
#user-img {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 100%;
}
#user-img img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

/* user info */
.user-info {
	width: 60%;
	height: 100%;
    display: flex;
	font-family: 'Outfit', sans-serif;
	padding-left: 10px;
    flex-direction: column;
}
#username-wrapper  {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
}
#username-wrapper .username{
	width: 100%;
	height: 50%;
	font-weight: 700;
	font-size: 26px;
	color: black;
	display: flex;
	align-items: end;
	justify-content: start;
}
#username-wrapper .name {
	flex-grow: 1;
	color: #C8D2DD;
	font-weight: 500;
	font-size: 12px;
	display: flex;
	align-items: start;
	justify-content: center;
	padding-top: 3px;
}
#username-wrapper .user-status {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: start;
	align-items: end;
	padding: 4px;
	padding-left: 10px;
}
#username-wrapper img {
	width: 15px;
	height: 15px;
}
#username-wrapper #inactive {
	content: url('../../public/inactive.svg');
}
#username-wrapper #xbox {
	content: url('../../public/active-green.svg');
}
#username-wrapper #nintendo  {
	content: url('../../public/active-red.svg');
}
#username-wrapper #ps5{
	content: url('../../public/active-blue.svg');
}

/* tab */
#user-content .tab {
	width: 50%;
	background-color: #DADFE8;
	color: black;
	opacity: 0.7;
	box-shadow: inset 0px -4px rgba(0,0,0,0.01);
	font-family: 'Wemakeprice-Regular';
}
#user-content .tab-active {
	width: 50%;
	color: black;
	background-color: #E9EDF1;
	font-family: 'Wemakeprice-Regular';
}
#status-tab {
	border-right: 1px solid black;
}

/* month/week */
.date-wrapper {
	width: 100%;
	height: 10%;
	max-height: 40px;
	border-bottom: 0.2px solid black;
	background-color: #ffffff;
	display: flex;
}
.date-wrapper .button {
	height: 100%;
	width: 16%;
}
.date-wrapper .date {
	height: 100%;
	width: 42%;
}
#left-button {
	display: flex;
	justify-content: end;
	align-items: center;
}
#left-button .material-symbols-outlined{
	font-size: 25px;
}
#right-button {
	display: flex;
	justify-content: start;
	align-items: center;
}
#right-button .material-symbols-outlined{
	font-size: 25px;
}
.date-wrapper .date {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
#month {
	display: flex;
	justify-content: end;
	align-items: center;
}
#week {
	display: flex;
	justify-content: start;
	align-items: center;
}

/* status slot list */
#slot-list-wrapper {
	background-color: #ffffff;
	width: 100%;
	height: 73%;
    display: flex;
    flex-direction: column;
	margin-bottom: 10px;
}
.slot-list .slot-list {
	font-family: 'Bowlby One SC', sans-serif;
}
.slot-list .slot-value {
	font-family: 'Bowlby One SC', sans-serif;
}

/* type */
.content-type-1 {
	color: #00C83B;
}
.content-type-2 {
	color: #527FD8;
}
.content-type-3 {
	color: #EA2A36;
}

/* history slot list */
#history-slot-list {
	background-color: #ffffff;
	width: 100%;
	flex-grow: 1;
}
.list {
	display: none;
	width: 100%;
	height: 90%;
	flex: 0 0 90%;
    overflow-y: scroll;
}
.now {
	display: block;
}
.history-slot {
	width: 100%;
	box-shadow: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	padding-top: 13px;
	padding-bottom: 13px;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	border-bottom: 0.2px solid black;
}
.history-slot .slot-date {
	height: 32px;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
	align-items: center;
}
.slot-date .day-of-week {
	font-size: 14px;
}
.slot-date .day {
	color: #DADFE8;
	font-size: 10px;
}
.history-slot .slot-time-value {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.history-slot .slot-content {
	width: 100%;
	height: 23px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.slot-content .slot-time {
	padding:0;
	margin:0;
	width: 33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
.slot-content .slot-value {
	padding:0;
	margin:0;
	flex-grow: 1;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 10px;
	height: 100%;
	font-size: 14px;
}